nav,
header,
footer {
    width: 100%;
    display: block;
}

.main-container {
    border: 1px solid grey;
    width: 100%;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    display: inline;
    padding: 10px;

}

ul.topnav li.topnav-right {
    float: right;
}

div.calculator {
    border: 1px solid grey;
    text-align: center;
    background-color: #D3D3D3;
}

h1.calc-header {
    border: 1px solid grey;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    margin: 5px 1% 0 1%;
}

form input.calc-button {
    float: right;
    margin-right: 1%;
}

div.calc-info {
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

b.bold-red {
    color: red;
}

.row {
    width: 100%;
    display: flex; /*grab elements inside row and change size*/
    flex-wrap: wrap; /*all elements in the row, as things get smaller, wrap around underneath*/
    align-items: center; /*takes all items inside container and center them*/
}

.row::after {
    display: table;
    clear: both; /*removes floats so they're not inherited*/
    content: ""; /*clear content*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box; /*include padding and margin into size of element and make it actual size*/
}







